$primary-color: #1989fa;
$success-color: #07c160;
$warning-color: #ff976a;
$danger-color: #ee0a24;
$text-color: #323233;
$text-color-2: #646566;
$text-color-3: #969799;
$border-color: #ebedf0;
$background-color: #f5f5f5;
$white: #ffffff;
